@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.header {
  background-color: #333;
  padding: 20px;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-btn {
  display: block;
  cursor: pointer;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: transform 0.3s ease-in-out;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
}

.menu-icon::before {
  transform: translateY(-10px);
}

.menu-icon::after {
  transform: translateY(10px);
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-btn .menu-icon {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn .menu-icon::before {
  transform: rotate(90deg) translateX(6px);
}

#menu-toggle:checked + .menu-btn .menu-icon::after {
  transform: rotate(90deg) translateX(-6px);
}

.nav {
  display: none;
  background-color: #333;
  padding: 20px;
  position: absolute;
  top: 60px;
  right: 20px;
}

#menu-toggle:checked ~ .nav {
  display: block;
}

.nav a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

header {
  animation: slide-in 1s ease-in-out;
  background-color: orangered;
}


header .nav :active {
  color: royalblue;
}


.nav:active {
  color: royalblue;
}


.noticia {
  background-color: orangered;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-size: medium;
}

.noticia h1 {
  color: black;
}

.noticia a {
  text-decoration: none;
}

.noticia a h2 {
  color: rgb(240, 232, 170);
  border-bottom: 3px solid black;
}

.noticia div nav {
  justify-content: space-around;
  display: flex;
  padding-bottom: 15px;
}


/* MAIN-INDEX- */
.punto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: auto;
  background-attachment: fixed; }

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* MAIN-NIKE-ADIDAS-FILA */
.hombre {
  align-content: center;
  background-color: #d6076e;
  font-family: 'Franklin Gothic Medium';
  font-size: 20%;
  font-weight: 300;
  list-style-type: none; }

  .river:hover {
    color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 2em;
    background:#d6076e ;
    padding: 1em; }
  

.river1 {
    color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 2em;
    background:#d6076e ;
    padding: 1em; }
  .river1:hover {
    border: 3px solid cornflowerblue; }

/* MAIN-FORMULARIO */
.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  text-align: center;
}

input[type="submit"] {
  background-color: green;
  color: white;
}

footer {
  background-color: orangered
  ; }
  footer .contactanos-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px; }
  footer .contactanos-redes {
    display: flex;
    justify-content: space-between;
    align-items: center; }

  footer .contactanos-texto {
    display: flex;
    align-items: center;
    margin-left: 5px; }

    footer .contactanos-texto h3 {
      color: #f0e8aa;
      margin-right: 5px; }

  footer .flex-redes {
    display: flex;
    justify-content: flex-end;
    align-items: center; }

    footer .flex-redes h3 {
      margin-right: 10px;
      color: #f0e8aa; }

    footer .flex-redes img {
      margin-right: 10px; }

@media (max-width: 1024px) {
  .noticia {
    background-color: rgb(255, 145, 0); }
  .hombre {
    background-color: rgb(255, 145, 0); } }

@media (max-width: 768px) {
  .noticia div nav {
    background-color: coral;
    flex-direction: column;
    align-items: center; }
  .hombre {
    background-color: coral; }
  .river {
    display: flex;
    flex-direction: column; }
  .river1 {
    display: flex;
    flex-direction: column; }
  .contactanos div {
    flex-direction: column;
    align-items: center; }
  .contactanos-redes div {
    flex-direction: column;
    align-items: center; }
  .flex-redes div {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 320px) {
  .noticia div nav {
    background-color: deeppink;
    flex-direction: column;
    align-items: center; }
  .hombre {
    background-color: deeppink; }
  .river {
    display: flex;
    flex-direction: column; }
  .river1 {
    display: flex;
    flex-direction: column; }
  .contactanos div {
    flex-direction: column;
    align-items: center; }
  .contactanos-redes div {
    flex-direction: column;
    align-items: center; }
  .flex-redes div {
    flex-direction: column;
    align-items: center; } 
  }



  